@charset "utf-8"

.keyvisual
  overflow: hidden
  height: 100vh
  min-height: 800px
  padding:
    top: 8rem
    bottom: 40px
  +md-down
    height: auto

  .content
    position: relative
    z-index: 10
    .deco01, .deco02
      position: absolute
      z-index: 10
      margin: 0
      padding: 0
    .deco01
      bottom: 50px
      left: 0
      transform: translateX(-70%)
    .deco02
      bottom: -30px
      right: 0
      transform: translateX(70%)
    +xl-down
      .deco01
        left: 100px
      .deco02
        right: 100px
    +md-down
      position: relative
      .deco01, .deco02
        position: static
        transform: inherit

  .footer
    width: 100%
    color: #fff
    background: #8E0B0E
    padding: 8px 0

    +md-up
      position: absolute
      z-index: 10
      bottom: auto
      left: 0
    +md-down
      position: relative
      z-index: 10

  +lg-down
    padding:
      top: 8rem
      bottom: 0
  
.vong-quay
  overflow: hidden
  padding:
    top: 4rem
    bottom: 4rem
    left: 20px
    right: 20px
  
  +lg-down
    padding-top: 14rem

  .content
    border-radius: 24px
    background-color: #fff
    padding: 20px 40px
    margin: 
      left: auto
      right: auto
    position: relative
    
    &.consolation
      background: 
        image: url(../img/consolation.png)
        position: top center
        size: contain
        repeat: no-repeat
    +lg-up
      width: 560px
      transform: translateX(25%)
      min-height: 480px
    +lg-down
      max-width: 420px
      width: auto
      min-height: 300px
      
.quay-thuong
  position: relative
  &:before
    content: ''
    width: 82px
    height: 94px
    position: absolute
    z-index: 10
    top: 0
    left: 50%
    transform: translate(-50%, -25%)
    background: 
      image: url(../img/arrow.png)
      repeat: no-repeat
      size: cover

  +lg-up
    position: absolute
    z-index: 10
    top: 50%
    left: 0
    transform: translate(-50%, -50%)

  +lg-down
    margin-top: calc(-50% - 1.5rem)
    margin-left: -2rem
    margin-right: -2rem
    &:before
      width: 62px
      height: 64px
    
.chatbot
  position: fixed
  bottom: 15px
  right: 15px
  z-index: 999

.card-content
  position: relative
  z-index: 10
  margin: 0
  padding: 0
  text-align: center
  &:after
    content: ''
    position: absolute
    z-index: -1
    top: calc(100% - 15%)
    left: 50%
    height: 100%
    width: 200%
    transform: translateX(-50%)
    background: 
      image: url(../img/deco_03.png)
      repeat: no-repeat
      position: top center
      size: 100% 100%
  +md-down
    &:after
      height: 130%

.form-primary

  .title
    font:
      size: 16px
      weight: 700
    color: #821F1F
    letter-spacing: 0
    text-align: center
    &.black
      color: black
      font-size: 18px

  .form-label
    font:
      size: 13px
      weight: 700
    color: #5C5C5C
    margin-bottom: 0
    padding-left: 5px

  .form-control, .form-select
    height: 28px
    padding: 0.175rem 0.75rem
    font:
      size: 13px
      weight: 700
    border-radius: 6px

    .form-check
      position: relative
      top: 0.25em

    &-md
      height: 32px
      line-height: 1.5

  .invalid-feedback
    font:
      size: 10px
      weight: 700
    color: #D22027
    text-align: right

  .text
    font:
      size: 14px
      weight: 700
    line-height: 1.25
    .big
      font-size: 20px

  .w-260
    width: 260px

.input_code
  background-color: #fff
  padding: 10px
  border-radius: 24px
  input
    border: 0
    font-size: 18px
    font-style: italic
    line-height: 2.6
    font-weight: 700
    &:focus-visible, &:focus
      border: 0
      outline: none

    +md-down
      font-size: 15px
      
.modal-prize

  .modal-content
    border-radius: 24px
    
  .modal-header
    background: radial-gradient(51.19% 91% at 50.29% 42.26%, #D91C24 1.76%, #B50A0D 35.88%, #A00000 54.02%)
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 1
      width: 100%
      height: 100%
      background:
        image: url(../img/consolation.png)
        repeat: no-repeat
        position: top center
        size: cover
    .text
      color: #fff
      opacity: .7

  .modal-footer
    background-color: #F4F3F3

.modal-rules

  .modal-content
    border: 5px solid #A00000
    background-color: #A00000
  .modal-header, .modal-footer
    background: radial-gradient(51.19% 91% at 50.29% 42.26%, #D91C24 1.76%, #B50A0D 35.88%, #A00000 54.02%)
    position: relative
    color: #fff
  .modal-body
    background-color: #fff